body {
	margin:  0;
	font-family:  Helvetica;
}


#logo {
	height: 150px;
	width: 300px;
}

#container {
	display:  flex;
	align-items:  center;
	justify-content:  center;
	height:  100vh;
	flex-direction:  column;
}